:root {
  --color-primario: #1f2937;
  --color-secundario: #557ca2;
  --titulos: #d0dbe7;

  --fuente-principal: "Outfit", sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-size: calc(12.9091px + 0.363636vw);
  margin: 0;
  background-color: var(--color-primario);
  height: 110vh;
}
h1,
h2,
h3,
p,
a {
  margin: 0;
}
img {
  max-width: 100%;
}
/*estilos generales*/

/***componentes***/

/**HEADER***/
.header {
  width: 100%;
  border-bottom: thin solid var(--titulos);
  height: 10vh;
  display: flex;
  justify-content: center;
  background-color: var(--color-primario);
}
.header-contenedor {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 64rem;
  width: 90%;
}
.header a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--fuente-principal);
  text-decoration: none;
}
.header-mas {
  display: flex;
  align-items: center;
}
.select {
  border: none;
  background-color: transparent;
  color: var(--titulos);
  outline: none;
}
.select option {
  color: var(--titulos);
  border: none;
  background-color: var(--color-primario);
}
.header-mas img {
  width: 2rem;
  height: 2rem;
}
.pro {
  color: #ff822d;
}
@media screen and (min-width: 80rem) {
  .header-contenedor {
    width: 100%;
  }
}
/**MAIN***/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-titulo {
  margin-top: 6vh;
  color: var(--titulos);
  font-family: var(--fuente-principal);
  text-align: center;
  font-size: x-large;
}
.main-btn {
  background-color: var(--color-secundario);
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  max-width: auto;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  text-decoration: none;
  font-family: var(--fuente-principal);
  border-radius: 0.3rem;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.main-btn:hover {
  background-color: #426287;
  color: var(--titulos);
}
.main-informacion {
  max-width: 64rem;
  margin-top: 3rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  color: var(--titulos);
  font-family: var(--fuente-principal);
}
.que ul li,
.como ul li {
  margin-bottom: 0.5rem;
  font-size: medium;
}
.que h2,
.como h2 {
  font-size: large;
  color: #fff;
}

@media screen and (min-width: 64rem) {
  .main-informacion {
    flex-direction: row;
    gap: 2rem;
  }
  .main-titulo {
    margin-top: 9vh;
  }

  .que,
  .como {
    width: 50%;
  }
}

/*Snippets*/
.snippets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.snippets h2 {
  margin-top: 2rem;
  max-width: 64rem;
  width: 90%;
  color: #fff;
  font-family: var(--fuente-principal);
  font-size: larger;
}
.snippets-grid {
  margin-top: 1.5rem;
  width: 90%;
  max-width: 64rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 1rem;
}
.snippets-grid .div {
  width: 100%;
  font-family: var(--fuente-principal);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.snippets-grid .div h4 {
  background-color: #3c4048;
  padding: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.3rem;
  color: #ffdd93;
  display: inline-block;
  margin: 0;
}

.snippets-grid .div p {
  margin-top: 0.5rem;
  color: var(--titulos);
}

.snippets-grid .div img {
  margin-top: 0.5rem;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 64rem) {
  .snippets-grid .div img {
    border-radius: 0.3rem;
    width: 80%;
    height: 400px;
  }
}
/*FOOTER*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  margin-top: 1rem;
  border-top: thin solid var(--titulos);
}
footer p {
  font-family: var(--fuente-principal);
  color: #fff;
}
footer p a {
  color: #38bdf8;
}
